/* Generelt */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* også med fokus på effekterne */
body {
  margin: 0;
}
@media (min-width: 860px) {
  /* Forside */
  .mainNav {
    display: grid;

    gap: 10px;
    padding: 20px;
  }
  .mainNav > * {
    margin: 0;
    text-decoration: none;
  }
  /* hover effekt på iconerne */
  /* .topRow a {
    color: #fff;
    text-decoration: none;
    padding: 0.6em 1.8em; */
  /* border: 1px solid rgba(255, 255, 255, 0.6);  for et enkelt look*/
  /* letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  } */
  .topRow a:hover {
    background-color: rgba(255, 255, 255, 0.95);
    color: #1a1a1a;
    border-color: transparent;
    border-radius: 15px;
  }
  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topNav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
  /* placering af iconer i toppen */
  .topNav {
    margin-left: auto; /* skubber hele nav til højre */
  }
  .topNav a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6em 1.8em;
  }
  .topNav a:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  nav a {
    margin: 1em;
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
  }
  nav {
    background-color: transparent;
  }
  nav a::after {
    background-color: #ddd;
    color: black;
  }
  .categoryNav a {
    color: #fff;
    padding: 1em;
    margin: 1em;
    padding-left: 2em;
    padding-right: 2em;
    gap: 25px;
    cursor: pointer;
  }

  .subcategoryList {
    display: flex;
    justify-content: center;
  }

  .subcategory {
    text-decoration: none;
    padding: 2em;
    color: white;
    background-color: gray;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 1em;
    font-size: 1em;
  }

  /* tilføjelse af effekt til knapper */

  .categoryNav {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    text-decoration: none;
    align-items: center;
    transition:
      transform 0.8s ease,
      background-color 0.4s ease,
      padding 0.4s ease;
    padding: 5rem 3rem;
    
  }

  .categoryNav:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2.5rem 3rem;
    padding-bottom: 2rem;
    margin: 1rem 0;
  }

  .categoryNav:hover a {
    color: #1a1a1a;
    border-color: transparent;
  }
}
