@font-face {
  font-family: "BBH Bartle";
  src: url("../fonts/BBH_Bartle/BBHBartle-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Kugile";
  src: url("../fonts/kugile/Kugile_Demo.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

main {
  margin: 2em;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #5c534e;
  color: #ddd;
  padding-top: 2em;
}

footer p {
  justify-items: center;
}

.navn {
  font-family: "BBH Bartle";
  font-style: normal;
  font-size: 2rem;
}

.hours h2 {
  text-align: center;
}

.hours p {
  font-family: "Poppins";
}

.sociale {
  text-align: center;
}

/* Forside */
.mainNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.mainNav > * {
  margin: 0;
  text-decoration: none;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.categoryNav {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 10px;
}

nav a {
  margin: 1em;
}

.aloura {
  font-family: "BBH Bartle";
  font-style: normal;
  font-size: 2em;
}

.Maison {
  font-family: "Kugile";
  font-style: normal;
  font-size: 1em;
}

.categoryButtons a {
  color: black;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
}

.subcategoryList {
  display: flex;
  justify-content: center;
}

.subcategory {
  text-decoration: none;
  padding: 2em;
  color: white;
  background-color: gray;
  border-radius: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em;
  font-size: 1em;
}
