.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

/* størrelserne */
.sizes {
  display: flex;
  gap: 10px;
  margin-bottom: 2em;
}
.sizes button.selected {
  background-color: #333;
  color: white;
}

/* +og- */
.quantity {
  display: flex;
  gap: 10px;
  align-items: center;
  border: #333 solid 1px;
  max-width: 5.9em;
  margin-bottom: 2em;
  border-radius: 1em;
}

.beskrivelse {
  margin: 4em;
  border-top: 1px solid black;
  padding: 2em;
  text-align: center;
}

/* beskrivelse overskrift */
.boverskrift {
  margin-left: 4em;
  margin-bottom: -2em;
  color: #333;
}
button {
  background-color: #c7bfb4;
  border: none;
  padding: 0.5em 1em;
}

.price {
  text-decoration: underline;
}

.salelinje {
  display: flex;
  margin-top: 2em;
}

.sale {
  background-color: pink;
  border-radius: 5em;
  padding: 0.5em;
  margin-left: 8em;
}
button {
  border-radius: 1em;
}

.buynow {
  margin-bottom: 2em;
  padding: 1em;
}

.buynow:hover {
  background-color: #333;
  color: white;
}

.hjerte {
  margin-left: 1em;
  font-size: 30px;
}
.hjerte:hover {
  color: pink;
}

/* knapper til at vise flere billeder */

.image-indicators {
  margin-left: 10em;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.dot:first-child {
  background-color: pink;
}
.billede {
  display: block;
  margin: 0 auto;
}
.småp {
  font-size: smaller;
  color: #706f6f;
}

.småp span {
  font-size: 20px;
}
