/* Generelt */

body {
  margin: 2em;
}

/* Forside */
.mainNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.mainNav > * {
  margin: 0;
  text-decoration: none;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.categoryNav {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 10px;
}

nav a {
  margin: 1em;
}

.categoryButtons a {
  color: var(--text-primary);
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
}

.subcategoryList {
  display: flex;
  justify-content: center;
}

.subcategory {
  text-decoration: none;
  padding: 2em;
  color: rgb(0, 0, 0);
  background-color: var(--text-inverse);
  border-radius: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em;
  font-size: 1em;
}

img {
  min-width: 100px;
}

/* Undercategory Grid */

#subcategoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  max-width: 900px;
  margin: 4rem auto;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
}
